<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" conetnt="width=device-width, initial-scale=1">
    <title>Mix-O-Dex | The Best Cocktail Resource Online </title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/4d70706659.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <div  id="app">
    <!-- Header --> 
  <header>
    <!-- Navigation bar with hamburger menu button -->
    <div class="admin_bar">
      <ul class="menu hidden">
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-square-pinterest"></i></a></li>
        <li class="border-right"></li>
        <li><i  class="fa-solid fa-user" v-on:click="showPopupLogin()" style="cursor:pointer;"></i> 
          <a v-if="!loggedIn" style="cursor:pointer" v-on:click="showPopupLogin()"> Login </a><a v-if="!loggedIn" style="cursor:pointer;" v-on:click="showPopupRegister()">/ Register</a>
          <a v-if="loggedIn" style="cursor:pointer;"> Account </a> <a v-if="loggedIn" v-on:click="userLogsOut()" style="cursor:pointer;"> / Logout</a>
        </li>
      </ul>
    </div>
      <div class="logo">
        <img src="/FinalLogo.svg">
      </div>
    <div class="navigation">
    <nav class="menu-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Bar Book</a></li>
        <li><a href="#">My Bar</a></li>
        <li><a href="#">Random Cocktail</a></li>
        <li><a href="/support.html">Support</a></li>
        <li></li>
      </ul>
      <form id="form">
        <input type="search" id="query" name="q" placeholder="Search For A Drink">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </nav>
  </div>
    <div v-if="edit_login" class="popup-overlay-user">
      <div class="popup-user">
        <span class="close" v-on:click="closePopupLogin()">&times;</span>
          <img src="/FinalLogo.svg" >
          <h3 class="credentials">Login</h3>
          <h3 class="credentials" v-if="loggedIn">You have Successfully Logged In</h3>
          <h3 v-if="incorrect" class="credentials">Email or Password is Incorrect!</h3>
          <input class="input" type="text" placeholder="Enter Email" v-model="email">
          <input v-if="showPassword" class="input" type="text" placeholder="Create Password" v-model="password">
          <input v-else class="input" type="password" placeholder="Enter Password" v-model="password">
          <button class="eye" @click="toggleShow"><span class="icon is-small is-right">
            <i class="fas" :class="{ 'fa-eye-slash': showPassword, 'fa-eye': !showPassword }"></i>
          </span>
        </button> 
          <br>
          <button v-on:click="userLoggedIn()" class="submit">Submit</button>
      </div>
    </div>


    <div v-if="edit_register" class="popup-overlay-user">
      <div class="popup-user">
        <span class="close" v-on:click="closePopupRegister()">&times;</span>
          <img src="/FinalLogo.svg" >
          <h3 v-if="!registered" style="color:black;">Register</h3>
          <h3 v-if="registered" style="color:black;">You have successfully Registered.</h3>
          <h3 v-if="uniqueEmail" style="color:black;">User Already Exists With That Email.</h3>
          <input class="input" type="text" placeholder="Enter First Name" v-model="firstName">
          <input class="input" type="text" placeholder="Enter Last Name" v-model="lastName">
          <input class="input" type="text" placeholder="Enter Email" v-model="email">
          <input v-if="showPassword" class="input" type="text" placeholder="Create Password" v-model="password">
          <input v-else class="input" type="password" placeholder="Create Password" v-model="password">
          <button class="eye" @click="toggleShow"><span class="icon is-small is-right">
            <i class="fas" :class="{ 'fa-eye-slash': showPassword, 'fa-eye': !showPassword }"></i>
          </span>
        </button> 
          <br>
          <button class="submit" v-on:click="registerUser()">Submit</button>
      </div>
    </div>
  </header> 
  <!-- Banner -->
  <div class="banner">
    <div class=logo_icon>
      <img src="/logoicon-white.svg" style="display:block;">
    </div>
    <div class="heading">
      <h1>Welcome to The Mix-O-Dex</h1>
      <h3>The Best Cocktail Resource Online</h3>
    </div>
  </div>



  <section class="support-section">
    
          <div class="support-tickets">
          <ul>
            <ul>
              <li class="support-user-ticket">{{email}} </li>
              <li class="support-user-ticket">Email </li>
          </ul>
        </div>
        <div class="support-messages">
          <div class="support-details">
          <div v-if="support_page_messages.length > 0" v-for="message in support_page_messages" class='incoming'>
            <p class="support-email">{{email}}</p>
            <p class="support-message">{{message}}</p>
          </div>
          <div v-if="support_outgoing" class="outgoing">
            <p class="support-message"></p>
            </div>

          <div class="bottom"></div>
          </div>
          
        </div>
    
    
  </section>


        <div class="support-submit-input">
          <div class="support-input-system">
              <input class="support-input" type="text" placeholder="Type Message Here" v-model="support_page_response">
              <button @click="sendMessageToSocket"class="support-submit-button">Send</button>
          </div>
        </div>

    <footer style="margin: 0; padding: 0;">
      <nav style="margin: 0; padding: 0;">
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="#">Bar Book</a></li>
          <li><a href="#">My Bar</a></li>
          <li><a href="#">Random Cocktail</a></li>
          <li><a href="/support.html">Support</a></li>
        </ul>
        <ul class="social">
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-square-pinterest"></i></a></li>
      </ul>
    </nav>
    </div>
    </footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js"></script>
<script src="/app.js"></script>
</div>
</body>

    
    
